:root {
    --primary-color: #28a745; /* Verde */
    --secondary-color: #ffffff; /* Branco */
    --accent-color: #dc3545; /* Vermelho */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #a71d2a; /* Vermelho mais escuro */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid var(--primary-color);
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

td {
    background-color: var(--secondary-color);
}
